body {
  width: 100vw;
  margin: 0;
}

.date{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 1.4rem;
}

.input {
  position: absolute;
  width: 24vw;
  height: 6vh;
  left: 50%;
  top: 10%;
  border-radius: 20px;
  padding-left: 2%;
  border: 3px solid #000;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 600;
}

.input::placeholder {
  color: #808080;
  font-weight: 600;
  font-size: 1.2rem;
}

.addBtn {
    position: absolute;
    width: 8vw;
    height: 7vh;
    left: 68%;
    top: 10%;
    text-align: center;
    border-radius: 20px;
    border: 3px solid #000;
    transform: translateX(-50%);
    font-size: 1.2rem;
    cursor: pointer;
}

.addBtn:hover{
    background-color: #adff2f;
}

.listBox {
  position: absolute;
  width: 50vw;
  height: 70vh;
  left: 50%;
  top: 20%;
  border-radius: 20px;
  border: 3px solid #000;
  transform: translateX(-50%);

}

.list{
  display: flex;
  font-weight: 600;
  font-size: 1.4rem;
}

.deleteBtn {
  margin-left: 90%;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.1s ease-out;
}

.deleteBtn:hover {
  transform: scale(1.4);
  color: #ff0000;
}
